{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'books:create_comment' book.id %}">
        {% csrf_token %}      
        <div class="form-group mb-3">
          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <hr>
          {{ comment.author.username }}
      </h5>
        <p>
            {{ comment.created }}
        </p>
        <p>
            {{ comment.text }}
        </p>
        {% if comment.author.username == user.username %}
        <a class="btn btn-primary" href="{% url 'books:delete_comment' book.id comment.id %}">
          Удалить
        </a>
        {% endif %}
    </div>
  </div>
{% endfor %}
