{% extends 'base.html' %}

{% block title %}
Жанры
{% endblock %}

{% block content %}
<div>
    <h1>
        Поджанры
    </h1>
</div>
<div style="column-count: 3; column-gap: 20px; margin-bottom: 20px;">
    {% for sub_genre in sub_genres %}
    <div>
        <ul>
            <li>
                <a href="{% url 'books:book_list' sub_genre.id %}">
                    <h4>
                        {{ sub_genre }}
                    </h4>
                </a>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
